@use "../../styles/mixins" as *;

body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.header {
  color: white;
  font-size: 2em;
  padding-left: 1rem;
  background-color: #141414;
  border: 1px solid #303030;
  border-radius: 5px;
  padding-top: 6px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.booklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.booklist__item {
  background-color: #141414;
  border: 1px solid #303030;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.booklist__image {
  width: 100%;
  height: auto;
}

.booklist__span {
  display: block;
  margin-top: 0.5em;
  color: #fff;
}
